<app-header titulo="Formulario"></app-header>


<ion-content>

  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)" class="ion-padding">
    <ion-list-header>
      <ion-label>Formulario Válido {{formulario.valid}}</ion-label>
      <ion-button>See All</ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input 
      type="email" 
      placeholder="Email"
      name="email"
      [(ngModel)]="usuario.email"
      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
      required>
    </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input 
      type="password" 
      placeholder="Password"
      name="password"
      [(ngModel)]="usuario.password"
      required></ion-input>
    </ion-item>
    <ion-button [disabled] = "formulario.invalid" type="submit" expand="block" >
      Login
    </ion-button>

  </form>

</ion-content>
